<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Mainland China default. Override with NUGET_SOURCE or a command-line source. -->
    <add key="huawei-cloud" value="https://repo.huaweicloud.com/repository/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
